$font-color:white;


.container{
    margin: 1rem;
}

.container h3{
    color: $font-color;
}
.card-container{
    display: flex;
    flex-direction: row;
    gap: 0.35rem;
    height: auto;
    width: auto;
    flex-wrap:wrap;
    justify-content:space-between;
}

p{
    margin: 0px;
}
.checkbox{
    margin: 0px;
}