.container{
    margin: 10px;
}

.container h3{
    color: white;
}
.card-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: auto;
    width: auto;
    flex-wrap:wrap;
    color: white;
    justify-content:space-between;
}

p{
    margin: 0px;
}
.checkbox{
    margin: 0px;
}