.nav-bar{
  display: flex;
  background-color: rgb(235, 255, 55);
  margin-bottom: 40px;
  font-size: 1.5rem;
  height: 30px;
  justify-content: center;
  border-bottom: 3px solid white;
}

.nav-bar > *{
  list-style-type: none;
  display: flex;
  align-self: center;
}