$bg-color:rgb(235, 255, 55);
$border-color:white;
$border-width:0.1rem;
$border-radius:0.3rem;

.add-items-main {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  align-content: center;
}

.add-items {
  display: flex;
  justify-self: center;
  align-self: center;
}

.add-items > * {
  padding: 1rem;
  font-weight: bold;
  border-radius: $border-radius;
  background-color: $bg-color;
  display: flex;
  border: $border-width solid $border-color;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  align-items: center;
}

.form-input{
    border-radius: $border-radius;
    border-style: none;
    border: $border-width solid $border-color;
    height: 1.5rem;
    padding: 0.5rem;

}

.form-input-desc
{
    border-radius: $border-radius;
    border-style: none;
    border: $border-width solid $border-color;
    height: 3rem;
    padding: 0.6rem;
}
