<div class="my-3">

<form (ngSubmit) = "onSubmit()">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" [(ngModel)]="title" class="form-control" name="title" aria-describedby="titleHelp"id="title"> 
        <!-- <div id="titleHelp" class="form-text"></div> -->
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" [(ngModel)]="desc" class="form-control" name="desc" id="desc">
    </div>
    <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-sm btn-danger">Add</button>
</form>

</div>