$bg-color:rgb(235, 255, 55);
$border-color:white;
$border-width:0;
$border-radius:0.3rem;
$bg-gradient-img:linear-gradient(to bottom, #fb920c, #fa9a24, #faa235, #f9a945, #f9b053);

.add-items-main {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  align-content: center;
}

.add-items {
  display: flex;
  justify-self: center;
  align-self: center;

  .btnn{
    border-radius: 1rem;
    border-style: none;
    height: 2rem;
    width: 4rem;
    background-image: $bg-gradient-img;
  }

}

.add-items > * {
  padding: 1rem;
  font-weight: bold;
  border-radius: $border-radius;
  background: rgb(247,255,28);
  background: linear-gradient(0deg, rgba(247,255,28,1) 40%, rgba(255,253,145,1) 100%);
  display: flex;
  border: $border-width solid $border-color;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  align-items: center;
}

.form-input{
    border-radius: $border-radius;
    border-style: none;
    border: $border-width solid $border-color;
    height: 1.5rem;
    padding: 0.5rem;


}

.form-input-desc
{
    border-radius: $border-radius;
    border-style: none;
    border: $border-width solid $border-color;
    height: 3rem;
    padding: 0.6rem;
}
