.add-items-main {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  align-content: center;
}

.add-items {
  display: flex;
  justify-self: center;
  align-self: center;
}

.add-items > * {
  padding: 1rem;
  font-weight: bold;
  border-radius: 0.3rem;
  background-color: rgb(235, 255, 55);
  display: flex;
  border: 0.2rem solid white;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  align-items: center;
}

.form-input{
    border-radius: 0.2rem;
    border-style: none;
    border: 0.1rem solid royalblue;
    height: 2rem;
    padding: 0.6rem;

}

.form-input-desc
{
    border-radius: 0.2rem;
    border-style: none;
    border: 0.1rem solid royalblue;
    height: 3rem;
    padding: 0.6rem;
}
