.card-main{
    display: flex;
    padding: 10px;
    border-radius: 3px;
    background-color:rgb(238, 250, 128);
    justify-content: space-around;
    width: auto;
}

h5,p{
    margin: 2px;
    word-wrap:break-word;
    /* font-size:2vh; */
}
.inline-ops{
    display: flex;
    justify-content: space-between;
}

.checkbox{
    margin-right: 10px;
}
