$border-color: white;
$bg-color: rgb(235, 255, 55);
$border-radius: 0.3rem;
$border-width: 0.2rem;
$bg-gradient-img:linear-gradient(to bottom, #fb920c, #fa9a24, #faa235, #f9a945, #f9b053);

.card-main {
  display: flex;
  padding: 10px;
  // border: $border-width solid $border-color;
  border-radius: $border-radius;
  background: rgb(247, 255, 28);
  background: linear-gradient(
    0deg,
    rgba(247, 255, 28, 1) 40%,
    rgba(255, 253, 145, 1) 100%
  );
  justify-content: space-between;
  width: auto;
  height: auto;

  p {
    margin: 1px;
    word-wrap: break-word;
    font-size: 2vh;
  }
  h5 {
    margin: 1px;
    font-size: 1rem;
  }
  .inline-ops {
    display: flex;
    justify-content: space-between;

    .form-input-label {
      font-size: 0.8rem;
      margin-right: 1rem;
    }

    .form-input {
      width: 0.7rem;
      height: 0.6rem;
      cursor: pointer;
      margin-right: 0.2rem;
    }

    .delete-btn {
      border-radius: 1rem;
      border-style: none;
      height: 1.8rem;
      width: 3.5rem;
      // background-color: purple;
      background-image: $bg-gradient-img;
    }
  }
}
