.card-main{
    display: flex;
    padding: 10px;
    border-radius: 3px;
    background-color:rgb(238, 250, 128);
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

h5,p{
    margin: 10px;
}
.checkbox{
    margin: 7px;
}

.inline-ops{
    display: flex;
    justify-content: space-between;
}

.button,.checkbox{
    display: inline-flex;
    margin-right: 10px;  
}